<h1>いいね一覧</h1>
<table class="table">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <% @favorite_books.each do |book| %>
  <tr>
    <td><%= image_tag book.user.get_profile_image(100,100) %></td>
    <td><%= link_to book.user.name,user_path(book.user_id) %></td>
    <td><%= link_to book.title,book_path(book.id) %></td>
    <td><%= book.body %></td>
  </tr>
  <% end %>
</table>